<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rdc_checkoverbooking.Properties.Settings.ConnectionString"
            connectionString="Data Source=server-boese;Initial Catalog=RDC;User ID=sa;Password=sql.2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>